<div>
  <div class="container" mt-5>
    <div class="card">

      <div class="card-header">
        <h4>Cadastre seu Produto
          <a routerLink="/" class="btn btn-danger float-end">Voltar</a>
        </h4>
      </div>

      <div class="card-body">

        <form [formGroup]="produtoForm" (submit)="enviar()">

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" formControlName="nome">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Preço</label>
            <input type="number" class="form-control" id="preco" formControlName="preco">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Validade</label>
            <input type="text" class="form-control" id="validade" formControlName="validade">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Tipo</label>
            <input type="text" class="form-control" id="tipo" formControlName="tipo">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Resumo</label>
            <input type="text" class="form-control" id="descricaoCurta" formControlName="descricaoCurta">
          </div>

          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descrição</label>
            <input type="text" class="form-control" id="descricaoLonga" formControlName="descricaoLonga">
          </div>

          <button type="submit" class="btn btn-primary">Salvar</button>

        </form>

      </div>

    </div>
  </div>

</div>
