<div>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4>
          {{ pagina === 'Cadastro' ? 'Cadastrar um produto' : 'Atualizar um produto' }}
          <a routerLink="/produtos" class="btn btn-danger float-end">Voltar</a>
        </h4>
      </div>

      <div class="card-body">
        <form [formGroup]="produtoForm" (submit)="enviar()">

          <!-- NOME -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nome</label>
            <input
              type="text"
              maxlength="25"
              class="form-control"
              required
              id="nome"
              formControlName="nome"
            />
          </div>

          <!-- PRECO -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Preço</label>
            <input
              type="number"
              class="form-control"
              required
              id="preco"
              formControlName="preco"
              min="0"
              max="10000"
              step="0.01"
            />
          </div>

          <!-- VALIDADE -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Validade</label>
            <input
              type="text"
              maxlength="10"
              class="form-control"
              required
              id="validade"
              formControlName="validade"
            />
          </div>

          <!-- TIPO -->
          <div class="mb-3">
            <label for="tipo" class="form-label">Tipo</label>
            <select class="form-select" id="tipo" formControlName="tipo" required>
              <option value="FRUTA">Fruta</option>
              <option value="FRUTO_DO_MAR">Frutos do Mar</option>
              <option value="CARNE">Carne</option>
              <option value="HIGIENE">Higiene</option>
              <option value="LIMPEZA">Limpeza</option>
              <option value="BEBIDA_ALCOOLICA">Bebida Alcoólica</option>
              <option value="BEBIDA_NAO_ALCOOLICA">Bebida Não Alcoólica</option>
            </select>
          </div>

          <!-- DESCRICAO CURTA -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Resumo</label>
            <input
              type="text"
              maxlength="30"
              class="form-control"
              required
              id="descricaoCurta"
              formControlName="descricaoCurta"
            />
          </div>

          <!-- DESCRICAO LONGA -->
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Descrição</label>
            <input
              type="text"
              maxlength="50"
              class="form-control"
              required
              id="descricaoLonga"
              formControlName="descricaoLonga"
            />
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="produtoForm.invalid">Salvar</button>
        </form>
      </div>
    </div>
  </div>
</div>
