<link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:wght@400;700&display=swap"
    rel="stylesheet">
<body>
  <div id="bebida">
    <img
    class="imagem-bebida"
    src="assets\images\bebida.png"
    alt="Imagem produto" />

      <h1>O seu <span>melhor</span> supermercado!</h1>
      <p>
          Nós contamos com produtos <strong>exclusívos</strong> e <strong>únicos</strong>, com os melhores preços, tudo pensado em <span>você</span>.
          <br/>
          Além disso, temos uma <span>ampla seleção de opções</span> para atender a todas as suas <strong>necessidades e preferências,</strong>
          garantindo que você encontre <strong>exatamente o que procura.</strong>
      </p>
  </div>
</body>
